<!doctype html>
<html>
<head>
    <title>Login</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body
        {
            padding-top:100px;
            background-repeat:no-repeat;
            background-size:cover;
        }
        button{
            margin-top: 10px;
        }

    </style>
</head>
<body background="views/images/clinic_3.jpg">
<div class="container">

    <div class="col-sm-4 col-sm-offset-3">
        <form id="request_form">
            <div class="form-group">
                <label>Username</label>
                <input id="username" type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input id="password" type="password" class="form-control" name="password" required>
            </div>

            <button type="button" id="submit" class="btn btn-warning btn-lg col-sm-6">Send Notification</button>
            <a href="/requests"><button type="button" class="btn btn-default btn-lg col-sm-4 pull-right">Cancel</button></a>
        </form>

    </div>

</div>
<script>
    $(document).ready(function() {
        var device_details = JSON.parse(sessionStorage.getItem("device_data"));
      $("#submit").on("click", function () {
          var username = $("#username").val();
          var password = $("#password").val();
          console.log(device_details.token);
          $.ajax({
              url: '/pushNotification',
              type: 'post',
              dataType: 'json',
              data:{'username':username,'password':password,'id':device_details.id,'token':device_details.token},
              success: function (data) {
                  location.href ="/requests";
              }
          });
      })
    })
</script>
</body>
</html>